<ion-header>
    <ion-toolbar>
        <ion-title>Nouvelle Commande</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-grid>
                <ion-row *ngFor="let prod of produits">
                    <ion-col>{{prod.nomProduit}}</ion-col>
                    <ion-col>
                        Quantité: {{prod.quantite}}
                    </ion-col>
                    <ion-col>
                        <button (click)="addCommande(prod)">
                            <ion-icon name="add-circle"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-card>
                    <ion-card-header>
                        Commande
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid *ngFor="let cmd of getCommandLines()">
                            <ion-row *ngIf="renderProdPanier(cmd.produit)">
                                <ion-col>
                                    <ion-row>
                                        <ion-col>
                                            <div>
                                                {{cmd.produit.nomProduit}}
                                            </div>
                                        </ion-col>
                                        <ion-col>
                                            <div>
                                                Prix: {{cmd.produit.prix}}
                                            </div>
                                        </ion-col>
                                        <ion-col>
                                            <div>
                                                Quantite: {{cmd.quantite}}
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col>
                                            <div>
                                                <ion-row>
                                                    <ion-col>
                                                        <div row>
                                                            <button (click)="updatePanier('ajouter', cmd)">
                                                                <ion-icon name="add"></ion-icon>
                                                            </button>
                                                            <button (click)="updatePanier('enlever', cmd)">
                                                                <ion-icon name="remove"></ion-icon>
                                                            </button>
                                                            <button (click)="updatePanier('enleverDuPanier', cmd)">
                                                                <ion-icon name="trash"></ion-icon>
                                                            </button>
                                                        </div>
                                                    </ion-col>
                                                </ion-row>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-button (click)="checkoutcommand()">Checkout</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-grid>
        </ion-row>
    </ion-grid>
    <ion-row>
        <ion-button (click)="dismiss()">Back</ion-button>
    </ion-row>
</ion-content>
