<ion-header>
    <ion-toolbar>
        <ion-buttons slot=start>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>fournisseur</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #founisseurForm="ngForm">
        <input ion-input type="hidden" name="id" #id="ngModel"
            [(ngModel)]="fournisseurService.selectedFournisseur.id" />
        <ion-grid fixed style="width: inherit">
            <ion-row>
                <ion-col size="8">
                    <ion-card>
                        <ion-item>
                            <ion-input name="nom" #name="ngModel"
                                [(ngModel)]="fournisseurService.selectedFournisseur.nom" placeholder="Enter the name">
                            </ion-input>
                        </ion-item>
                        <ion-card>
                            <ion-card-header>
                                <h4>Adresse</h4>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item>
                                    <ion-input name="nomRue" #name="ngModel" required="true"
                                        [(ngModel)]="fournisseurService.adresse.nomRue"
                                        [ngModelOptions]="{standalone: true}" placeholder="Entrer l'adresse">
                                    </ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="appNum" #name="ngModel"
                                        [(ngModel)]="fournisseurService.adresse.appNum"
                                        [ngModelOptions]="{standalone: true}"
                                        placeholder="Numero appartement(Facultatif)"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="compte" #name="ngModel"
                                        [(ngModel)]="fournisseurService.adresse.compte"
                                        [ngModelOptions]="{standalone: true}" placeholder="Compte"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="ville" #name="ngModel"
                                        [(ngModel)]="fournisseurService.adresse.ville"
                                        [ngModelOptions]="{standalone: true}" placeholder="ville"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="region" #name="ngModel"
                                        [(ngModel)]="fournisseurService.adresse.region"
                                        [ngModelOptions]="{standalone: true}" placeholder="region"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="pays" #name="ngModel" [(ngModel)]="fournisseurService.adresse.pays"
                                        [ngModelOptions]="{standalone: true}" placeholder="pays"></ion-input>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                        <ion-card>
                            <ion-card-header>
                                <h4>Produits</h4>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-grid fixed>
                                    <ion-row>
                                        <ion-col size="4">
                                            <ion-card style="height: 100%">
                                                <select [(ngModel)]="fournisseurService.selectedFournisseur.produits"
                                                    [compareWith]="compareFunction"
                                                    style="width: 100%; height: 100%; font-family: 'Franklin Gothic Heavy'"
                                                    multiple="true" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let prod of produitService.produits"
                                                        style="font-family: 'Franklin Gothic Heavy'" [value]="prod"
                                                        (dblclick)="getProduit($event, prod)">
                                                        {{prod.nomProduit}}
                                                        <!--                                                        &nbsp;&nbsp;&nbsp;quantite: {{prod.quantite}}-->
                                                    </option>
                                                </select>
                                            </ion-card>
                                        </ion-col>
                                        <ion-col size="8">
                                            <form #produitForm="ngForm">
                                                <ion-card>
                                                    <ion-card-content>
                                                        <ion-item>
                                                            <ion-input name="nomProduit" #name="ngModel"
                                                                [(ngModel)]="produitService.produit.nomProduit"
                                                                [ngModelOptions]="{standalone: true}"
                                                                placeholder="nomProduit"></ion-input>
                                                            <ion-label style="font-family: 'Franklin Gothic Heavy'">
                                                                Quantite:
                                                            </ion-label>
                                                            <ion-input name="quantite" #name="ngModel"
                                                                style="font-family: 'Franklin Gothic Heavy'"
                                                                [(ngModel)]="produitService.produit.quantite"
                                                                [ngModelOptions]="{standalone: true}"
                                                                placeholder="quantite"></ion-input>
                                                        </ion-item>
                                                        <ion-item>
                                                            <ion-label style="font-family: 'Franklin Gothic Heavy'">
                                                                Type:
                                                            </ion-label>&nbsp;
                                                            <select [(ngModel)]="produitService.produit.type"
                                                                style="font-family: 'Franklin Gothic Heavy'"
                                                                [ngModelOptions]="{standalone: true}">
                                                                <option *ngFor="let t of options" [value]="t">
                                                                    {{t}}
                                                                </option>
                                                            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <ion-label style="font-family: 'Franklin Gothic Heavy'">
                                                                Prix:
                                                            </ion-label>
                                                            <ion-input name="prix" #name="ngModel"
                                                                style="font-family: 'Franklin Gothic Heavy';"
                                                                [(ngModel)]="produitService.produit.prix"
                                                                [ngModelOptions]="{standalone: true}"
                                                                placeholder="prix"></ion-input>
                                                        </ion-item>
                                                        <ion-item>
                                                            <ion-textarea name="description" #name="ngModel"
                                                                [(ngModel)]="produitService.produit.description"
                                                                [ngModelOptions]="{standalone: true}"
                                                                placeholder="description">
                                                            </ion-textarea>
                                                        </ion-item>
                                                        <ion-item>
                                                            <ion-grid>
                                                                <ion-row>
                                                                    <ion-col size="4">
                                                                        <ion-button (click)="addProduit(produitForm)">
                                                                            Enregistrer
                                                                            Produit
                                                                        </ion-button>
                                                                    </ion-col>
                                                                    <ion-col size="1">
                                                                        <ion-button
                                                                            (click)="deleteProduit(produitService.produit)">
                                                                            <ion-icon name="trash"></ion-icon>
                                                                        </ion-button>
                                                                    </ion-col>
                                                                    <ion-col size="3">
                                                                        <ion-button (click)="resetProduit()">Effacer
                                                                            formulaire
                                                                        </ion-button>
                                                                    </ion-col>
                                                                </ion-row>
                                                            </ion-grid>
                                                        </ion-item>
                                                    </ion-card-content>
                                                </ion-card>
                                            </form>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-card-content>
                        </ion-card>
                        <div>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="3">
                                        <ion-button (click)="addFournisseur(founisseurForm)">Enregistrer Fournisseur
                                        </ion-button>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-button (click)="resetFournisseur()">Clear
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col size="4">
                    <ion-card>
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="3">Nom</ion-col>
                                <ion-col size="5">Adresse</ion-col>
                                <ion-col size="4">Operations</ion-col>
                            </ion-row>
                            <ion-row *ngFor="let fourn of fournisseurService.fournisseurs">
                                <ion-col size="3">{{fourn.nom}}</ion-col>
                                <ion-col size="5">{{fourn.adresse.nomRue}}</ion-col>
                                <ion-col size="4">
                                    <ion-grid fixed>
                                        <ion-row>
                                            <ion-col size="3" ion-align-self-start>
                                                <button (click)="getFournisseur(fourn)">
                                                    <ion-icon name="eye"></ion-icon>
                                                </button>
                                            </ion-col>
                                            <ion-col size="3" ion-align-self-center>
                                                <button (click)="deleteFournisseur(fourn)">
                                                    <ion-icon name="trash"></ion-icon>
                                                </button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>