<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button>
    <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentialsForm.valid">Register
    </ion-button>
  </form>
  <!-- <div padding *ngIf="authService.isPasswordForgotten"></div> -->
  <div padding>
    <ion-button block (click)="send()">Send</ion-button>
  </div>
</ion-content>